.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 40px 0;
}

// in real project .root should be renamed to something uniq
// maybe randomly generated class name (it should be fast to install mudule?)
.root {
    .card {
        > * { box-sizing: border-box; } // for every sibling in this container
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        $cardPadding: 15px;
        .img,
        .title,
        .logo,
        .subtitle,
        .stats{
            width: 100%;
        }

        .dropdown{
            height: 40px;
            width: 270px;
            margin: $cardPadding;
        }
        .img{
            height: 220px;
            margin: 0 $cardPadding;
            width: calc(100% - #{$cardPadding * 2});
        }
        .logo{
            height: 0;
            position: relative;
        }
        .title{
            width: calc(100% - #{$cardPadding * 2});
            height: 40px;
            padding-top: $cardPadding;
            font-size: 18px;
        }
        .subtitle{
            width: calc(100% - #{$cardPadding * 2});
            padding-top: $cardPadding;
            font-size: 14px;
        }
        .stats {
            margin-top: $cardPadding;
            padding: $cardPadding;
        }
        .stats_row {
            display: flex;
            justify-content: space-between;
            padding: 12px;
        }
        .stats_name {

        }
        .stats_value {

        }
    }
}
