@import './_variables.scss';
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 40px 0;
}

// in real project .root should be renamed to something uniq
// maybe randomly generated class name (it meant to be npm mudule?)
.root {
    .card {
        * { box-sizing: border-box; }
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        $cardPadding: 15px;
        .img,
        .title,
        .logo,
        .subtitle,
        .stats{
            width: 100%;
        }

        .dropdown{
            $height: 40px;
            height: $height;
            width: 270px;
            margin: $cardPadding;
            ul {
                width: 100%;
                height: auto;
                visibility: hidden;
                opacity: 0;
                transition: opacity .1s ease;
            }
            &.open {
                span:after {
                    transform: rotate(calc(45deg + 180deg)) translate3d(-2px, -2px, 0);
                }
                ul {
                    visibility: visible;
                    opacity: 1;
                }
            }
            span {
                &:after {
                    content: "";
                    $size: 12px;
                    width: $size;
                    height: $size;
                    border-right: 2px solid black;
                    border-bottom: 2px solid black;
                    transform: rotate(45deg) translate3d(-2px, -2px, 0);
                }
            }
            span,
            li {
                display: block;
                height: $height;
                display: flex;
                padding: 0 16px;
                align-items: center;
                justify-content: space-between;
                position: relative;
                z-index: 10;
                cursor: pointer;
            }
        }
        .img{
            height: 220px;
            margin: 0 $cardPadding;
            width: calc(100% - #{$cardPadding * 2});
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            .player_photo {
                height: 90%;
            }
        }
        .logo{
            height: 0;
            width: 100%;
            .emblem {
                float: right;
                $size: 100px;
                width: $size;
                height: $size;
                border-radius: 50%;
                // emblem on sprite is 100px, but on design it is 80px
                $scale: 0.8; 
                // 3d will use GPU. It is cheaper.
                transform: translate3d(-10px, -45%, 0) scale3d($scale, $scale, $scale);
                overflow: hidden;
                position: relative;
            }
        }
        .title{
            width: 100%;
            height: 40px;
            padding: $cardPadding;
            padding-bottom: 0;
        }
        .subtitle{
            width: 100%;
            padding: $cardPadding;
            padding-bottom: 0;
        }
        .stats {
            padding: $cardPadding;
        }
        .stats_row {
            display: flex;
            justify-content: space-between;
            padding: 12px;
            margin: 2px 0;
        }
    }
}
