@import './_variables.scss';
.root {
    font-size: 16px;
    // I don't have ArialMT font.
    font-family: ArialMT, Arial;
    color: $black;
    .dropdown {
        font-size: 1em;
        font-weight: bold;
    }
    .title {
        font-size: 1.3em;
        font-weight: bold;
        color: $white;
    }
    .subtitle{
        font-size: 1em;
        color: $white;
    }
    .stats {
        font-size: 1em;
    }
    .stats_name {
        color: $violet;
    }
    .stats_value {
        font-weight: bold;
        color: $violet;
    }
}
